*{
	margin:0;
	padding:0;
}
html,body{
	width: 100%;
	height: 100%;
}
.wrap{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
/* 导航nav */
.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 71px;
	background: url('../images/theme/top.png') no-repeat;
	background-size:cover;
}
.nav .logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;
}
.nav .middle{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	width: 240px;
	height: 34px;
	background: url('../images/theme/sign.png') no-repeat;
}
.nav .func{
	display: flex;
	flex-direction: row;
	margin-right:20px;
}
.nav .func div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}
.func>div:nth-child(1)>span{
	display: inline-block;
	width:50px;
	height:40px;
	background: url('../images/icon/desktopicon.png') no-repeat;
	background-position:-1px -5px;
}
.func>div:nth-child(2)>span{
	display: inline-block;
	width:50px;
	height:40px;
	background: url('../images/icon/desktopicon.png') no-repeat;
	background-position:-123px -5px;
}
.func>div:nth-child(3)>span{
	display: inline-block;
	width:50px;
	height:40px;
	background: url('../images/icon/desktopicon.png') no-repeat;
	background-position:-181px -5px;
}
.func>div>a{
	text-align: center;
	text-decoration:none;
	cursor:pointer;
}

/* content */
.wrap .content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 1020px;
	background:url('../images/theme/bg.png') no-repeat;
	background-size:100% 1020px;
	background-position: 0px -100px;
}
.content .content_nav{
	display: flex;
	flex-direction: row;
	justify-content:center;
	width: 159px;
	height: 660px;
	background: url('../images/theme/left.png') no-repeat;
}
.content .content_nav .lis{}
.content .content_nav>.lis>li{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.content .content_nav>.lis>li .current{
	display: none;
}
.content .content_nav>.lis>li>a{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items:center;
	width: 151px;
	height: 36px;
	box-sizing: border-box;
	padding-left:20px;
	background: url('../images/theme/list_btn_li.png') no-repeat;
}
.content .content_nav .lis>li:nth-child(1)>a span{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background:url('../images/icon/icon_basic.png');
}
.content .content_nav .lis>li:nth-child(2)>a span{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background:url('../images/icon/icon_personnel.png');
}
.content .content_nav .lis>li:nth-child(3)>a span{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background:url('../images/icon/icon_educational.png');
}
.content .content_nav>.lis>li li{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	width: 148px;
	height: 36px;
}
.content .content_nav>.lis>li .active{
	width: 148px;
	height: 36px;
	background: url('../images/theme/list_ui_li_act.png') no-repeat;
	background-size:cover;
	border-radius: 5px;
}
.content .content_nav>.lis>li .btn_click{
	width: 148px;
	height: 36px;
	background: url('../images/theme/list_btn_li2.png') no-repeat;
	background-size: cover;
}
.content .content_contents{
	flex:1;
}
.content .content_contents .contents_top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding-top: 20px;
}
.content .content_contents .contents_top div:nth-child(1){
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	margin-left:5px;
}
.content .content_contents .contents_top div:nth-child(1) select{
	width: 50px;
	height: 30px;
	outline: none;
	border:1px solid gray;
	border-radius: 4px;
}
.content .content_contents .contents_top div:nth-child(1) input{
	border:none;
	width: 200px;
	height: 30px;
	border:1px solid gray;
	border-radius: 4px;
}
.content .content_contents .contents_top div:nth-child(1) button{
	width: 50px;
	height: 30px;
	background: #fff;
	border:1px solid gray;
	border-radius: 4px;
	/*display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;*/
	cursor: pointer;
}
.content .content_contents .contents_top div:nth-child(2){margin-right: 5px;}
.content .content_contents .contents_top div:nth-child(2) span:first-child{
	display: inline-block;
	width: 155px;
	height: 27px;
	background: url('../images/icon/icon_l_c.png');
	box-sizing: border-box;
	padding-left: 30px;
	border-radius: 4px;
}
.content .content_contents .contents_top div:nth-child(2) span:last-child{
	display: inline-block;
	width: 155px;
	height: 27px;
	background: url('../images/icon/icon_l_a.png');
	box-sizing: border-box;
	padding-left: 30px;
	border-radius: 4px;
}
.content .content_contents .contents_middle{
	background: #fff;
	padding-bottom: 100px;
	padding-top: 20px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.content .content_contents .contents_middle table{
	border-collapse: collapse;
	border:1px solid #ccc;
	width:90%;
	margin-left:5px;
	height: 200px;
	box-shadow: 3px 5px 25px 0px gray;
}
.content .content_contents .contents_middle table tr{
	border:1px solid #ccc;
}
.content .content_contents .contents_middle table td{
	border:1px solid #ccc;
}
.content .content_contents .contents_middle table td:first-child{
	width: 200px;
	text-align: center;
}
.content .content_contents .contents_middle table td:last-child ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-left:20px;
}
.content .content_contents .contents_middle table td:last-child ul>li{
	padding:5px 5px;
	margin-right: 10px;
	border-radius: 4px;
	cursor: pointer;
}
.content .content_contents .contents_middle table td:last-child ul>li.active{
	background: skyblue;
}
.contents_middle .sum{
	margin-top: 20px;
	padding:5px 0px 5px 5px;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
}
.contents_middle .topic{}
.contents_middle .topic div>div:first-child{
	background: gray;
	opacity: .5;
}
.contents_middle .topic div>div:nth-child(2){
	height:30px;
	padding-top: 20px;
}
.contents_middle .topic div>div:nth-child(3),
.contents_middle .topic div>div:nth-child(4),
.contents_middle .topic div>div:nth-child(5),
.contents_middle .topic div>div:nth-child(6){
	margin-left: 20px;
	padding:5px;
}
.contents_middle .topic div>div:last-child{
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.contents_middle .topic div>div:last-child button,
.contents_middle .topic div>div:last-child input{
	border:none;
	width: 100px;
	height: 40px;
	background:skyblue;
	margin-right: 10px;
	border-radius: 5px;
	color:#fff;
	cursor:pointer;
}
